body{
	/* Ændrer baggrunds farve */
	background: #f1c40f;
}	
img{
	width: 100%;	
}

#content {
	/* Her angiver vi bredden af det content der vises til at være 75% af skærmen,
	ændrer textcolor til hvid og sætter margin til auto, altså centrerer det */
	width: 75%;
	margin: auto;
	text-color: white;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
#list{
	/* Her viser viser vi bluetooth enheden i hvid skrift. */
	text-color: white;
}

/* I denne del angiver vi bredden på knapperne til at være 100% af skærmen. */
#refreshButton{
	width: 100%;
}
#sendButton{
	width: 100%;
}
#ledOnButton{
	width: 100%;
}
#ledOffButton{
	width: 100%;
}